@import url("./reset2.css");

* {
    font-size: 10px;

}
.x {
    position: relative;
    font-size: 1.5rem;
}

.yellow-btn {
    text-align: center;
    height: 49px;
    width: 218px;
    padding: 17px;
    background-color: #FFCC00;
    border-radius: 9px;
    color: white;
    font-weight: 700;
    font-size: 15px;
  }

/* footer 부분 */
.footer-area {
    background-color: #EDEDED;
    height: 206px;
    width: 1440px;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-container {
    display: flex;
}


.footer-img {
    margin-right: 6.0rem;
}

.footer-content {
    display: flex;
    flex-direction: column;
    width: 20rem;
}

.content-title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 0.7rem;
}

.content-content {
    font-size: 1rem;
    line-height: 1.6rem;
}

/* main 부분 */
.main {
    /* text-align: center; */
    /* height: 76.8rem; */
    /* display: flex; */
    /* justify-content: center; */
}

.main-catchphrase {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}

.main-catchphrase img {
    height: 40rem;
    width: auto;
}

.main-text {
    margin-bottom: 5.4rem;
    line-height: 2.2rem;
}

.main-signup {
    margin-bottom: 4.8rem;
}

