/* @import url("./reset2.css"); */

* {
    font-size: 10px;

}
.x {
    font-size: 1.5rem;
    width: 100%;
}

.yellow-btn {
    text-align: center;
    height: 4.9rem;
    width: 21.8rem;
    padding: 1.35rem 1rem;
    background-color: #FFCC00;
    border-radius: 0.9rem;

    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 2.2rem;
  }

/* footer 부분 */


.footer-area {
    background-color: #EDEDED;
    height: 206px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5.5rem 4rem;  
}

.footer-container {
    display: flex;
}

.footer-img {
    margin-right: 6.0rem;
    width : 9.6rem;
    height: 9.7rem;
}

.footer-content {
    display: flex;
    flex-direction: column;
    width: 20rem;
}

.content-title {
    width: 21.5rem;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.7rem;
    margin-bottom: 0.7rem;
}

.content-content {
    width: 22rem;
    font-size: 1.1rem;
    line-height: 1.6rem;
}

/* main 부분 */
.main {
    text-align: center; 
    height: 55.4rem;
    display: flex;
    margin-top : 3.2rem;
    margin-bottom: 5.0rem;
}

.main-catchphrase {
    justify-content: center;
}

.main-catchphrase img {
    height: 40rem;
    width: auto;
}

.main-text {
    line-height: 2.2rem;
    height: 4.4rem;
}

.main-signup {
    margin-top : 5.6rem;
}

