@import url("./reset2.css");

/* header 부분 */
.header-area {
  display: inline-block;
  float : right;
  margin: 0rem 3.6rem;
  margin-top: 32.8px;
}

.header-area::after {
  content: "";
  display: block;
  clear: both;
}

.logo {
  width: 7.5rem;
  height: auto;
  margin-top: 1.95rem;
  display: flex;
}

.place-tab {
  display: flex;
  align-items: center;
}

.tab-inner {
  display: flex;
  align-items: center;
}

.tab {
  width: 9.75rem;
  height: 2.25rem;
  margin-right: 1.8rem;
  text-align: center;
  text-decoration-line: none;
  color: black;
  font-weight: 700;
  font-size: 15px;
}

.tab:hover {
  color: #FFCC00;
}

.txt {
  line-height: 22px;
}

.login-btn {
  margin-left: 39px;
  height: 49px;
  width: 218px;
  padding: 17px;
  background-color: #FFCC00;
  border-radius: 9px;
  color: white;
  font-weight: 700;
  font-size: 15px;

}