@import url("./reset2.css");
/* header 영역 */

html {
    font-size: 10px;
}

/* main 영역 */
.main {
    margin-top: 26.6rem; 
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-weight: 700;
    font-size: 2.4rem;
    margin-bottom: 5.4rem;
}

.yellowBtn {
    width: 35.5rem;
    text-align: center;
    height: 4.8rem;
    padding: 1.3rem 8rem;
    background-color: #FFCC00;
    border-radius: 1.5rem;
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
}

