@import url("./reset2.css");
/* header 영역 */

html {
    font-size: 10px;
}

/* main 영역  */
.main {
    margin-top: 4.8rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    display: block;
    width: 35.5rem;
    margin-bottom: 12.7rem;
    font-weight: 700;
    font-size: 2.4rem;
}

.profileImage {
    margin-bottom: 3rem;
    width: 10.8rem;
    height: auto;
}

.inputContainer {
    width: 35.3rem;
    margin-bottom: 1.8rem;
}

.inputTitle {
    text-align: start;
    font-weight: normal;
    font-size: 1.5rem;
}

.inputInput {
    padding: 0.7rem 0rem 0.7rem 2.1rem;
    border-bottom: 1px solid #DBDBDB;
}

.inputInput > input {
    width: 441px;
    height: 35px;
    font-size: 1.5rem;
    border-bottom: none;
}

.precaution {
    text-align: left;
    line-height: 1.6rem;
    font-size: 1.1rem;
    color: #767676;
}

.inputInput > input:focus {outline:none;}

.signUpBtn {
    width: 35.5rem;
    margin-top: 1.3rem;
    text-align: center;
    height: 4.8rem;
    padding: 1.2rem 8rem;
    background-color: #FFCC00;
    border-radius: 1.2rem;
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
}
