@import url("../reset2.css");

/* header 부분 */
.header-area {
  display: flex;
  justify-content: space-between;
  margin: 0rem 3.6rem;
}

.logo {
  width: 7.5rem;
  height: auto;
  margin-top: 1.95rem;
  display: flex;
}

.place-tab {
  display: flex;
  align-items: center;
}

.tab-inner {
  display: flex;
}

.tab {
  width: 9.75rem;
  height: 2.25rem;
  margin-right: 1.8rem;
  text-align: center;

}

.txt {
  line-height: 2.25rem;
}

.yellow-btn {
  text-align: center;
  height: 4.8rem;
  padding: 1.2rem 8rem;
  background-color: #FFCC00;
  border-radius: 1.2rem;
  color: white;
  font-weight: 700;
  font-size: 1.5rem;
}